/* ------------------ */
/* ----- SEARCH ----- */
/* ------------------ */

.fa-music {
  color: #9CB0AE;
}

.lead {
  font-style: italic;
}

input[type="text"] {
  outline: none;
  box-shadow: none !important;
  background-color: #7886A0;
  border: none !important;
  font-weight: 300;
}

input[type="text"]::placeholder {
  color: #EFE9F4;
}

input[type="text"]:focus {
  background-color: #7886A0;
  border: 2px solid #CCC7B9 !important;
  color: #EFE9F4;
}

.card {
  background-color: #46597D;
  border-radius: 8px;
}

.display-4 {
  font-size: 2.5em;
}

.display-4 i {
  margin-right: 10px;
}

.btn {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  text-transform: uppercase;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn-search {
  background-color: hsl(174, 57%, 35%);
  color: #FFFFFF;
  border: none;
}

.btn-search:hover {
  background-color: #72817F;
  color: #FFFFFF;
}

/* ------------------ */
/* ----- TRACKS ----- */
/* ------------------ */

h3 {
  font-size: 2.5em;
  text-transform: uppercase;
  color: #CCC7B9;
  border-bottom: 1px solid #CCC7B9;
}

/* ----------------- */
/* ----- TRACK ----- */
/* ----------------- */

h5 {
  color: #CCC7B9;
}

.fa-play,
.fa-compact-disc {
  color: #9CB0AE;
  margin-right: 5px;
}

.fa-chevron-right {
  margin-right: 5px;
}

.btn-lyrics,
.btn-back {
  background-color: #800000;
  color: hsl(341, 64%, 42%);
}

.btn-lyrics:hover,
.btn-back:hover {
  background-color: #ADD8E6;
  color: #717B8E;
}

/* ------------------ */
/* ----- LYRICS ----- */
/* ------------------ */

.text-secondary {
  color: #9CB0AE !important;
  font-style: italic;
}

.list-group-item {
  background-color: #FFFFFF;
}

.list-group-item:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.list-group-item:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}